/* style css */
/* 초기화 */

* { margin: 0; padding: 0;}
a { 
    text-decoration: none;
    color: #212726;
}
li { list-style-type: none;}
img { border: none; }
body { 
    font-family: 'Noto Sans KR', sans-serif;
    color: #212726;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

/* header */
#main_header {
    width: 1080px; height: 100px;
    margin: 0 auto;
    position: relative;
    /* outline: 1px solid green; */
}
#main_header > h1 {
    width: 80px; height: 80px;
    position: absolute;
    left: 0; top: 10px;
}

/* main_gnb */
#main_gnb { 
    /* outline: 1px solid red; */
    width: 840px;
    position: absolute;
    left: 100px; bottom: 15px;
    text-align: center;
}
#main_gnb > .depth1 { 
    overflow: hidden; 

}
#main_gnb > .depth1 > li {
    float: left;
    width: calc(840px / 6);
    /* outline: 1px solid brown; */
}
#main_gnb > .depth1 a {
    font-size: 18px;
    display: block;
    font-weight: 500;
}

#main_gnb > .depth1 > li:hover > a {
    color: #8aa7a2;
}



#main_gnb .depth2 { 
    display: none;
    position: absolute;
    /* outline: 1px solid green; */
    width: 140px; height: 260px;
    margin-top: 15px;
    padding-top: 25px;
    background-color: rgba(33, 39, 38, 0.85);
    z-index: 9999;
}
#main_gnb > .depth1 > li > .depth2 > li {
    padding-bottom: 15px;
}
#main_gnb .depth2 a { 
    font-weight: 300;
    color: white;
}
#main_gnb .depth2 a:hover { 
    color: #fef200;
    font-weight: 400;
}

/* go shop */
#shop {
    width: 120px; height: 25px;
    background-color: #8aa7a2;
    border-radius: 100px;
    position: absolute;
    right: 0px; bottom: 10px;
    text-align: center;
}
#shop > a {
    color: #fff;
    font-size: 14px;
}

#shop:hover > a {
    color: #fef200;
    transition-duration: 0.6s;
}

/* main_lnb */
#main_lnb { 
    /* outline: 1px solid blue; */
    position: absolute;
    top: 0px; right: 0px;
}

#main_lnb > ul { overflow: hidden; }
#main_lnb > ul > li {
    float: left;
}
#main_lnb > ul > li > a { font-size: 12px;}
#main_lnb span { font-size: 14px;}

/* main_visual */
#main_vis {
    min-width: 1080px;
    width: 100%; height: 400px;
    position: relative;
    overflow: hidden
}
#main_vis > .fixed_img { 
    width: 1920px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

/* slick-style */
.slick-dots {
    /* outline: 1px solid yellow; */
    text-align: center;
    position: relative;
    bottom: 35px;
}
.slick-dots > li {
    display: inline-block;
    /* outline: 1px solid blue; */
}
.slick-dots > li:last-child > button {
    margin-right: 0px;
}
.slick-dots button {
    width: 10px; height: 10px;
    border-radius: 50px;
    background-color: #8aa7a2;
    border: none;
    float: left;
    /* outline: 1px solid green; */
    margin-right: 20px;
    text-indent: -9999px;
}
.slick-dots button:focus {
    border: none;
    outline: none;
    background-color: #fef200;
}
.slick-dots button:active { 
    border: none;
    outline: none;
    background-color: #fef200;
}
.slick-dots > .slick-active > button {
    background-color: #fef200;
}

/* section common style */
section h2 { 
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}
section h3 {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

/* choice section */
#m_choice {
    height: 650px;
    /* outline: 2px solid blue; */
    background-image: url('../imgs/mainvis_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
}

#m_choice > .container {
    width: 1080px; height: 650px;
    /* outline: 2px solid red; */
    margin: 0 auto;
    position: relative;
 }

#m_choice  h2 {
    padding-top: 90px;
}  
#m_choice .bean_2 {
    position: absolute;
    right: 0px; bottom: 70px;
    animation-name: moving;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


#m_choice .bean_1 {
    position: absolute;
    right: 345px; bottom: 70px;
    animation-name: moving;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
}

@keyframes moving {
    0% { margin-bottom: 15px; }
    100% {margin-bottom: 0px;}
}
 
#m_choice .btn { 
    width: 240px; height: 60px;
    border-radius: 100px;
    background-color: #fef200;
    text-align: center;
    transition-duration: 0.4s;
    margin-top: 40px;
}
#m_choice .btn > a {
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
    display: block;
    transition-duration: 0.4s;
}
#m_choice .btn:hover {
    background-color: #8aa7a2;
}
#m_choice .btn:hover > a {color: #fef200;}

/* 메뉴 슬라이더 */
#menu_slide { 
    height: 630px;
    /* outline: 1px solid hotpink; */
}
#menu_slide > .container2 {
    width: 1080px;
    /* outline: 1px solid blue; */
    text-align: right;
    margin: 0 auto;
}
#menu_slide  h2 { 
    padding-top: 71.88px;
    text-align: right;
}
#menu_slide  h3 {
    text-align: right;
}
#menu_slide .sliders {
    /* outline: 2px solid red; */
    width: 1080px; height: 340px!important;
    margin-top: 60px;
}
#menu_slide .slick-dots {
    /* outline: 1px solid green; */
    margin-top: 30px;
}

#menu_slide .slick-list {
    width: 1080px;
    text-align: center;
}


/* franchise 섹션 */
#franchise {
    height: 400px;
    background-image: url('../imgs/frnachise.jpg');
    /* position: relative; */
}
#franchise > .container3 {
    width: 1080px; height: 400px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}

#franchise  h2 {
    color: #fef200;
    padding-top: 71.88px;
}

#franchise  h3 {
    color: #fff;
}

#franchise .btns { overflow: hidden; }
#franchise .btn {
    width: 180px; height: 60px;
    background-color: #fef200;
    border-radius: 100px;
    text-align: center;
    transition-duration: 0.4s;
    float: left;
    margin-top: 90px;
}

#franchise .btn a {
    font-size: 20px;
    line-height: 60px;
    transition-duration: 0.4s;
    display: block;
}
#franchise .first_btn {
    margin-right: 50px;
}

#franchise .btn:hover {
    background-color: #8aa7a2;
}
#franchise .btn:hover a {
    color: #fef200;
}

/* best store */
#best_store {
    height: 738px;
    background-color: rgba(138, 167, 162, 0.4);
}

#best_store > .container4 {
    width: 1080px; height: 738px;
    /* outline: 1px solid red; */
    margin: 0 auto;
    text-align: right;
}
#best_store  h2 {
    padding-top: 71.88px;
}

#best_store  .store_slider {
    width: 1080px; height: 450px;
    /* outline: 1px solid red; */
    margin-top: 50px;
    
}
#best_store .store_slider .slick-dots button {
    /* outline: 1px solid yellow; */
    width: 360px; height: 5px;
    margin: 0; padding: 0;
    background-color: #212726;
    border-radius: 0px;
}
#best_store .store_slider .slick-dots .slick-active button {
    background-color: #fef200;
}
#best_store .slick-slider img {
    transition-duration: 0.8s;
}
#best_store .slick-slider img:hover {
    transform: scale(1.1);
    transition-duration: 0.8s;
    opacity: 0.9;
}

/* sns */
#sns {
    height: 800px;
    background-color: #fef200;
}

#sns > .container5 {
    width: 1080px; height: 800px;
    margin: 0 auto;
    /* outline: 1px solid blue; */
}

#sns > .container5 > h2 { 
    padding-top: 71.88px;
}

#sns .sns_imgs {
    margin-top: 60px;
    width: 1080px; 
    overflow: hidden ;
    /* outline: 1px solid hotpink; */
}


#sns .sns_imgs > div {
    width: 255px; height: 255px;
    float: left;
    margin-right: 20px;
    overflow: hidden;
}
#sns .sns_imgs > div:hover img {
    transform: scale(1.1);
    transition-duration: 0.8s;
    opacity: 0.8;
}

#sns  .sns_imgs > div:nth-child(4),
#sns  .sns_imgs > div:nth-child(8) { margin: 0;}

#sns  .sns_imgs > div:nth-child(5),
#sns  .sns_imgs > div:nth-child(6),
#sns  .sns_imgs > div:nth-child(7),
#sns  .sns_imgs > div:nth-child(8) { margin-top: 20px;}

/* communitiy */
#community {
    height: 500px;
}
#community > .container6 {
    width: 1080px; height: 500px;
    /* outline: 1px solid hotpink; */
    margin: 0 auto;
    overflow: hidden;
}

#community .notice {
    width: 435px; height: 309px;
    float: left;
    /* outline: 1px solid blue; */
    margin-top: 85px;
    margin-right: 22px;
}
#community .notice .notice_title > img, h3 { 
    display: inline-block; 
}
#community  h3 { 
    font-size: 28px;
    font-weight: 400;
    padding-left: 15px;
    margin-top: 0;
}
#community .notice_title {
    border-bottom: 2px solid #212726;
    width: 435px;
    padding-bottom: 20px;
}
#community .notice li {
    border-bottom: 1px dotted #212726;
    padding-bottom: 15px; padding-top: 22px;
    overflow: hidden;
}
#community a { 
    float: left;
    transition-duration: 0.4s;
}
#community .date {float: right;}
#community a, 
#community span { font-size: 16px; font-weight: 300;}

#community a:hover {
    color: #8aa7a2;
    transition-duration: 0.4s;
}

#community .find_store { 
    width: 439px; height: 309px;
    margin-top: 90px;
    float: left;
    margin-right: 20px;
}

#community .icons { 
    width: 163px; height: 309px;
    margin-top: 90px;
    float: left;
}
#community .icons  a:last-child img {
    margin-top: 20px;
}


/* footer */
#main_footer {
    height: 432px;
    background-color: #212726;
    color: #fff;
}

#main_footer > .footer_wrap {
    width: 1080px; height: 432px;
    /* outline: 1px solid yellow; */
    text-align: center;
    margin: 0 auto;

}
#main_footer h2 {
    height: 80px;
    padding-top: 90px;

}
#main_footer > .footer_wrap > h2 img {
    width: 80px; height: 80px;
}

#main_footer > .footer_wrap > .footer_menu {
    /* outline: 1px solid greenyellow; */
    margin-top: 30px;
}
#main_footer > .footer_wrap > .footer_menu li {
    display: inline;
    line-height: 23.75px;
    font-size: 10px;
    font-weight: 100;
}
#main_footer > .footer_wrap > .footer_menu li a {
    color: #fff;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 200;
    line-height: 23.75px;
}
#main_footer b { color: #fef200;}

#main_footer > .footer_wrap p {
    color: #fff;
    font-size: 10px;
    font-weight: 200;
    padding-top: 10px;
}
.first_info {
    margin-top: 20px;
}

#main_footer > .footer_wrap > .sns_icons {
    /* outline: 1px solid blue; */
    margin-top: 30px;
}
#main_footer > .footer_wrap > .sns_icons a {
    /* width: 20px; height: 20px; */
    /* outline: 1px solid red; */
    margin-right: 10px;
}
#main_footer > .footer_wrap > .sns_icons > a:last-child {
    /* width: 20px; height: 20px; */
    /* outline: 1px solid red; */
    margin-right: 0px;
}
#main_footer > .footer_wrap > .sns_icons img {
    width: 16px; height: 16px;
    /* outline: 1px solid yellow; */
}

#topBtn {
    width: 80px; height: 80px;
    border-radius: 100px;
    background-color: rgba(254, 242, 0, 0.8);
    position: fixed;
    bottom: 5%; right: 2%;
    text-align: center;
    display: none;
}
#topBtn > a {
    font-size: 24px;
    font-weight: 500;
    line-height: 78px;
    display: block;
}

